BODY {
	FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
TR {
	FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
A {
	FONT-SIZE: 9pt; COLOR: #000066; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
SELECT {
	FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
INPUT {
	FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
TABLE.TblContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
INPUT.Button {
	WIDTH: 80px
}
.DefaultFont {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
.DefaultBoldFont {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
.DefaultSmallFont {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
.SideBarHeaderFont {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; BACKGROUND-COLOR: #000066
}
.TestModeFont {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #cc6600; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
.SideBarSubHeaderFont {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; BACKGROUND-COLOR: #8eacbe
}
.HeaderFont {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; HEIGHT: 22px; BACKGROUND-COLOR: #efefef
}
.LargeHeaderFont {
	PADDING-RIGHT: 8px; BORDER-TOP: #666666 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 8px; FONT-SIZE: 11pt; PADDING-BOTTOM: 8px; COLOR: #000000; PADDING-TOP: 8px; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; HEIGHT: 32px; BACKGROUND-COLOR: #e3e3e3
}
.LinedItem {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #efefef 1px solid; HEIGHT: 25px
}
.PageHeaderFont {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
.MainHeaderFont {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
.SideBarBGColor {
	BACKGROUND-COLOR: #dae6ed
}
.TblHeaderFont {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #0033aa; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; BACKGROUND-COLOR: #cccccc
}
.TblSubHeaderFont {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; BACKGROUND-COLOR: #dae6ed
}
.TblRowFont {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif
}
.TblNavRow {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; BACKGROUND-COLOR: #4379b2
}
.TblRowFontWithBGColor {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; BACKGROUND-COLOR: #efefef
}
.TblContent {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
A:link {
	FONT-SIZE: 9pt; COLOR: #0066cc; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #0066cc; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0033aa; TEXT-DECORATION: underline
}
A.Nav:link {
	COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; TEXT-DECORATION: underline
}
A.Nav:visited {
	COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; TEXT-DECORATION: underline
}
A.Nav:hover {
	COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; TEXT-DECORATION: underline
}
A.Nav:active {
	COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; TEXT-DECORATION: underline
}
A.TblLink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #0033aa; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; TEXT-DECORATION: underline
}
A.TblLink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #0033aa; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; TEXT-DECORATION: underline
}
A.TblLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #0033aa; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; TEXT-DECORATION: underline
}
A.TblLink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #0033aa; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; TEXT-DECORATION: underline
}
A.menu:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: royalblue; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; LETTER-SPACING: 1pt; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: royalblue; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; LETTER-SPACING: 1pt; TEXT-DECORATION: none
}
A.menu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: skyblue; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; LETTER-SPACING: 1pt; TEXT-DECORATION: none
}
A.menu:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: royalblue; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; LETTER-SPACING: 1pt; TEXT-DECORATION: none
}
.ErrorFont {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #cc6600
}
.DefaultErrorFont {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000
}
.HorizontalLine {
	HEIGHT: 1px; BACKGROUND-COLOR: #666666
}
.WhiteLine {
	HEIGHT: 1px; BACKGROUND-COLOR: #ffffff
}
.TableLine {
	HEIGHT: 1px; BACKGROUND-COLOR: #cccccc
}
.TextSmB {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.WCell {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px; BACKGROUND-COLOR: #ffffff
}
.G1Cell {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px; BACKGROUND-COLOR: #f2f2f2
}
.G1LCell {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px; BACKGROUND-COLOR: #f2f2f2; TEXT-ALIGN: left
}
.G2Cell {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: right
}
.G3Cell {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px; BACKGROUND-COLOR: #dbd9da; TEXT-ALIGN: right
}
.B1LCell {
	PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px; BACKGROUND-COLOR: #e5effa; TEXT-ALIGN: left
}
.B2LCell {
	PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 39px; BACKGROUND-COLOR: #e5effa; TEXT-ALIGN: left
}
.B2Cell {
	PADDING-RIGHT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px; BACKGROUND-COLOR: #dae4ee; TEXT-ALIGN: right
}
.B3Cell {
	PADDING-RIGHT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px; BACKGROUND-COLOR: #cfd8e3; TEXT-ALIGN: right
}
.BLCell {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #0066cc; TEXT-ALIGN: center
}
.R1LCell {
	PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 39px; BACKGROUND-COLOR: #fae5ec; TEXT-ALIGN: left
}
.R2Cell {
	PADDING-RIGHT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 39px; BACKGROUND-COLOR: #efd9e0; TEXT-ALIGN: right
}
.R3Cell {
	PADDING-RIGHT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 39px; BACKGROUND-COLOR: #e4ced5; TEXT-ALIGN: right
}
.RLCell {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cc0043; TEXT-ALIGN: center
}
.Merch {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; COLOR: #003366; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
