/* nav lists  - unordered and definitions */

.n01 { padding:6px }
.n01 * {
	margin:0; 
	padding:0;
	}
 
.c09 .n01, 
.c03 .n01 { 
	\width:559px;
	w\idth:547px
	}
	
.c01 .n01, 
.c02 .n01,
.c02 .narrow .n01, 
.c03 .narrow .n01, 
.c04 .narrow .n01 {
	overflow:hidden;
	\width:181px;
	w\idth:169px
	}

.n01 ul { list-style:none }

.n01 label, 
.n01 a:link, .n01 a:visited, .n01 a:hover { 
	display:block;
	width:100%;
	text-decoration:none;
	border-bottom:1px dotted #999; 
	font-weight:normal;
	cursor:pointer
	}
	
/* restore homepage supercats */
.n01 h2 a { font-weight:bold !important}

/* this jogs in multi-line filters */
#sfilters li li a, #stype li a {
	padding-left:10px;
	text-indent:-10px;
	\width:168px;
	w\idth:158px
}

.smore .n01 ul,
.sselect .n01 ul { 
	border-top:1px dotted #999;
}

.b422 .n01 label, 
.b422 .n01 a:link, .b422 .n01 a:visited, .b422 .n01 a:hover { border-bottom:0 }

.n01 ul ul { margin-left:.125em }

.n01 li { 
	line-height:1.35em; 
	color:#000 !important;
	font-weight:bold
	}

.n01 li img { 
	padding:.25em 0;
	vertical-align:middle; 
	}
	
.n01 li li { font-weight:normal }

.n01 ul ul { 
	margin:0 0 0 .125em;
	border-left:thin solid #999;  
	padding-left:.5em;
	}

/* hover colors */
.n01 a:hover, .n01 label:hover { background:#E5E5E5 }
.b122 .n01 a:hover { background:#f7f7f7 }

/* FAQs */
.c03 .n01 a { padding:6px 0 }
.c03 .narrow .n01 a { padding:0 }

/* links on white get lighter border-bottom */
.b001 .n01 a, .b002 .n01 a, .b003 .n01 a, .b004 .n01 a, .b005 .n01 a, .b006 .n01 a,
.b101 .n01 a, .b201 .n01 a, .b301 .n01 a, .b401 .n01 a, .b501 .n01 a, .b601 .n01 a, .b701 .n01 a, .b801 .n01 a, .b901 .n01 a, 
.b111 .n01 a, .b211 .n01 a, .b311 .n01 a, .b411 .n01 a, .b511 .n01 a, .b611 .n01 a, .b711 .n01 a, .b811 .n01 a, .b911 .n01 a { border-color:#CCC !important} 

.b412 .n01 ul { border-top:1px dotted #005EC2 }
.b412 .n01 a { border-color:#005EC2 }

.n01 a.undo:link, .n01 a.undo:visited,
.n01 a.less:link, .n01 a.less:visited,
.n01 a.seledit:link, .n01 a.seledit:visited { 
	display:block; 
	font-weight:normal; 
	background:url(/sbd/img/ico/undoarrow.gif) no-repeat 0 50%; 
	text-indent:1em !important;
	border:0;
	width:100%;
	padding-left:0 !important
	}

.n01 a.seledit:link, .n01 a.seledit:visited { background-image:url(/sbd/img/ico/editarrow.gif) }

.n01 a.seledit:hover,
.n01 a.less:hover { font-weight:bold }

.n01 a.undo:link, .n01 a.undo:visited { 
	font-size:9px; 
	line-height:1.75;
	text-decoration:underline; 
	}

.n01 li a.undo:link, .n01 li a.undo:visited { 
	background-position:0 50%; 
	line-height:1; 
	margin-bottom:4px
	}

.n01 a:link .note, .n01 a:visited .note, .n01 a:hover .note { font-size:9px }

.stype .n01 li a.undo:link, .stype .n01 li a.undo:visited {
	margin-top:-.35em;
	margin-left:2.25em 
}

#sfilters .n01 li.toggle.hidden {
	display: none;
}

/* header nav ================================================================ */
.n02 {
	background:#FFF;
	font-size:10px;
	float:left;
	margin:0;
	border-bottom:1px solid #C00;
	padding:4px 12px;
	clear:left;
	\width:760px;
	w\idth:736px
	}
	
.c04 .n02 {
	\width:748px;
	w\idth:724px
	}
	
.n02 a:link, .n02 a:visited {text-decoration:none}
.n02 b {font-weight:normal; color:#C00}
.n02 b a:link, .n02 b a:visited {font-weight:bold; color:#C00; text-decoration:none}
.n02 ul, .n02 li {display:inline; margin:0; padding:0}
.n02 li {padding:0 0 0 6px; margin:0 0 0 6px; border-left:1px solid #666}
.n02 li.first {border-left:0; padding:0; margin:0}
.n02 li a:link, .n02 li a:visited, .n02 li a:hover {font-size:10px; text-decoration:none}
.n02 li b a:link, .n02 li b a:visited {font-weight:bold; color:#C00}
.n02 h5 {font-weight:bold; display:inline; padding-right:8px}
.n02 h5 a:link, .n02 h5 a:visited {text-decoration:none}
.b004 .n02 b, .b004 .n02 b a:link, .b004 .n02 b a:visited {color:#005EC2}
.b004 .n02 {border-bottom:1px solid #005EC2}
.b005 .n02 b, .b005 .n02 b a:link, .b005 .n02 b a:visited {color:#8B2EBB}
.b005 .n02 {border-bottom:1px solid #8B2EBB}
.b006 .n02 b, .b006 .n02 b a:link, .b006 .n02 b a:visited {color:#0093A3}
.b006 .n02 {border-bottom:1px solid #0093A3}

/* breadcrumbs */
.n03 {float:none; padding:4px 8px 0 8px}
.n03, .n03 a, .n03 a:link, .n03 a:visited, .n03 a:hover {color:#999}

/* member account */
.n12 {width:147px; text-align:center; margin-right:4px}
.n12#last, .n12#laston {width:148px; margin-right:0}
.n12 hr {display:none}
.n12 a.personal, .n12 a.orders, .n12 a.reorder, .n12 a.lists, .n12 a.rewards {
	padding-top:55px;
	display:block;
	font-weight:bold;
	font-size:11px;
	color:#FFF;
	text-decoration:none;
	background:#882EBB;
	width:147px;
	margin:24px 0 0 0;
	/* \*/
	overflow:hidden;
	/* */
	\height:91px;
	he\ight:36px;
	}
	
.n12 a.rewards {width:148px}
.n12 a.personal {background:#882EBB url(/sbd/img/ico/member_icons.gif) no-repeat 52px 0px}
.n12 a.orders {background:#882EBB url(/sbd/img/ico/member_icons.gif) no-repeat -45px 0px}
.n12 a.reorder {background:#882EBB url(/sbd/img/ico/member_icons.gif) no-repeat -142px 0px}
.n12 a.lists {background:#882EBB url(/sbd/img/ico/member_icons.gif) no-repeat -242px 0px}
.n12 a.rewards {background:#882EBB url(/sbd/img/ico/member_icons.gif) no-repeat -339px 0px}
.n12 p {
	text-align:left;
	font-size:11px;
	padding:0px 8px;
	height:53px;
	margin:6px 0 0 0;
	\width:147px;
	w\idth:131px
	}
	
.n12#last p, .n12#laston p {
	\width:148px;
	w\idth:132px
	}
	
.n12 ul {
	list-style:none;
	clear:both;
	margin:0;
	padding:0 0 10px 0;
	text-indent:0;
	text-align:left
	}
	
.n12 ul li {margin-left:10px; padding:0 0 2px 12px; background:url(/sbd/img/ico/dotarrow.gif) no-repeat 0px 4px}
.n12 ul li a:link, .n12 ul li a:visited {text-decoration:underline}
.n12 h5 {background:#FFF; line-height:20px; margin-bottom:4px}
.n12 h5 {background:#FC0}
.n12 .under {width:147px; margin:4px 0 20px 0}
.n12#on .under, .n12#laston .under {background:#F4DFFF}
.n12#on a, .n12#laston a {margin-top:0}

/* customer support */
.n16 {
	padding:6px;
	color:#666;
	\width:181px;
	w\idth:169px
	}
	
.n16 dl {
	padding-left:34px;
	background:url(/sbd/img/ico/lcs.gif) no-repeat}
.n16 dt b { font-weight:normal}
.n16 dd {
	margin:0; 
	font-size:10px}

/* information tools */
.n17 {width:181px}
.n17 h4 {
	color:#FFF;
	background:#005DC3 url(/sbd/img/ico/itlogo.gif) no-repeat bottom left ;
	padding:0px 6px 8px 55px;
	/* \*/
	padding:10px 6px 8px 55px;
	/* */
	font-weight:normal}
.n17 div {
	clear:both;
	padding:4px 4px 4px 0;
	\width:181px;
	w\idth:177px
	}
	
.n17 div.s01 {background:#D5E9FF}
.n17 div img {float:left; margin:0 4px}

/* tab device */
.n18 {
	font-weight:bold;
	font-size:11px;
	padding:6px;
	\width:559px;
	w\idth:547px
	}
	
.n18 ul {display:inline; list-style:none; margin:0; padding:0}
.n18 ul li {display:inline; line-height:18px; padding:0 18px}
.n18 ul li.selected {
	background:#FFF;
	line-height:18px;
	margin:0 4px 0 4px;
	padding:10px 8px 20px 8px
	}
.n18 ul li.selected a {
	color: #000000;
	text-decoration: none;
	}
	
.b204 .n18 {background:#FFCC00; border-top:8px solid #FFCC00}
.b304 .n18 {background:#C7CD00; border-top:8px solid #C7CD00}

/* new pagination - 5.8 search ui */
.n20 { 
	width:559px;
	font-size:10px; 
	line-height:1.8; 
	}
	
.c04 .n20 {width:748px }
	
.n20 dl { float:right;  } 
.n20 dt, .n20 dd  { 
	float:left; 
	margin:0; 
	padding:0
	}
	
.n20 dt, .n20 dd, .n20 dd a { 
	font-weight:normal; 
	padding:0 .25em; 
	display:block 
	}
	
.n20 p { 
	margin:4px 6px; 
	padding:0 
	}

/* bold current page */
.n20 dd { font-weight:bold } 

b400 .n20, .b400 .n20 a:link, .b400 .n20 a:visited, .b400 .n20 a:hover,
.b500 .n20, .b500 .n20 a:link, .b500 .n20 a:visited, .b500 .n20 a:hover,
.b600 .n20, .b600 .n20 a:link, .b600 .n20 a:visited, .b600 .n20 a:hover { color:#FFF }

/* new sorting - 5.8 search ui */
.n21 { 
	height:27px;
	line-height:27px;
	font-size:10px;
	padding:0 6px;
	\width:752px;
	w\idth:740px
	}
	
.c03 .n21 {	
	\width:563px;
	w\idth:551px
	}
	
.n21 dl { 
	float:left; 
	width:200px; 
	}

.n21 fieldset { 
	margin:0; 
	border:0; 
	padding:0; 
	float:left
	}
	
.n21 legend, 
.n21 .ie6dupchars { 
	text-indent:-9999px; 
	float:left; 
	height:0; 
	width:0; 
	overflow:hidden; 
	line-height:0 
	}
	
/* lists of anchors with optional arrows */
.n28 {float:none; padding:0; margin:0}
.n28 ul {margin:12px 8px}
.n28 li {line-height:16px; list-style:none; display:inline}
.n28 .up a:link, .n28 .up a:visited, .n28 .up a:hover {padding:0 10px 0 10px; background:url(/sbd/img/ico/uparrow.gif) no-repeat 0 5px}
.n28 .down a:link, .n28 .down a:visited, .n28 .down a:hover {padding:0 10px 0 10px; background:url(/sbd/img/ico/downarrow.gif) no-repeat 0 5px}
.n28 .right a:link, .n28 .right a:visited, .n28 .right a:hover {padding:0 10px 0 10px; background:url(/sbd/img/ico/dotarrow.gif) no-repeat 0 5px}

/* 5.8 supplemental help msging */
.n30 {
	padding:6px;
	\width:181px;
	w\idth:169px
	}
	
.n30 dl { padding-bottom:15px }
.n30 dt, .n30 dd { 
	margin:0; 
	line-height:1.75
	}
	
.n30 img { vertical-align:middle }

/* striped (cable) */
.t03 {width:181px}
.t03 img {float:left; margin:3px 4px 3px 4px}
.t03 a {display:block; float:left; width:140px; padding:8px 0 4px 0}
.b430 .t03 a {color:#fff}